.banner {
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.thumbnailDetail {
  width: 150px;
  height: 50%;
  padding: 0;
  margin-right: 0.5rem;
}

.posterDetail {
  width: 100%;
  border-radius: 5%;
}

.TitleDetail {
  font-size: 5rem;
  font-weight: bold;
  color: aliceblue;
}
.synopsisDetail {
  font-size: 1.2rem;
  color: aliceblue;
  font-weight: 300;
}

.castDetail {
  font-size: 1.4rem;
  color: aliceblue;
  font-weight: 600;
}

.pill {
  color: white;
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  margin: 0 0.5rem;
}
