.Yasone {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.montserat {
  font-family: "Montserrat", sans-serif;
}

:root {
  /* --main-color: #f47625;
	--secondary-color: #19345e; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.bgLight {
  background-color: #dfdfdf;
}
Nav {
  -webkit-box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.46);
}

Form {
  border-radius: 50%;
}

.cardMovie {
  width: 18rem;
  margin-right: auto;
  margin-left: auto;
  border: none;
}
.imageCard {
  max-height: 25rem;
  font-size: 1.375rem;
}

.txtSynopsis {
  font-size: 0.875rem;
}

.carouselImg {
  height: 95vh;
  width: 100vh;
  
}
